<p>CDs works!</p>
<!--
  Esto es una prueba sobre el tipado de typescript, he probado a definir el array "libros" de tipo <Object> pero typescript no itera sobre él puesto que no 
    encuentra las propiedades, para que funcione he tenido que definir el array de tipo <any>.
      Abajo está el mismo bucle aplicado a un array de tipo <Libro> (He tenido que crear la clase a mano para que funcione)
        -->
<ul>
  <li *ngFor="let cd of CDs">
    <a class="link" [routerLink]="['/informacion',cd.id]">{{cd.titulo}}</a> Autor: {{cd.autor}}
    <a class="link" href="https://www.google.com/search?q={{cd.titulo}}">Buscar</a>
    <p *ngFor="let track of cd.canciones">
      {{track}}
    </p>
  </li>

</ul>
<br>